check_booking_appointment.json
{
    "name": "Check bookings",
    "flow": [
        {
            "id": 24,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 563127,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "check bookings"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "message",
                        "spec": [
                            {
                                "name": "call",
                                "spec": [
                                    {
                                        "name": "assistant",
                                        "spec": [
                                            {
                                                "name": "firstMessage",
                                                "type": "text"
                                            },
                                            {
                                                "name": "model",
                                                "spec": [
                                                    {
                                                        "name": "functions",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "serverUrl",
                                                                    "type": "text"
                                                                },
                                                                {
                                                                    "name": "parameters",
                                                                    "spec": [
                                                                        {
                                                                            "name": "type",
                                                                            "type": "text"
                                                                        },
                                                                        {
                                                                            "name": "properties",
                                                                            "spec": [
                                                                                {
                                                                                    "name": "date",
                                                                                    "spec": [
                                                                                        {
                                                                                            "name": "description",
                                                                                            "type": "text"
                                                                                        },
                                                                                        {
                                                                                            "name": "type",
                                                                                            "type": "text"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection"
                                                                                }
                                                                            ],
                                                                            "type": "collection"
                                                                        }
                                                                    ],
                                                                    "type": "collection"
                                                                },
                                                                {
                                                                    "name": "description",
                                                                    "type": "text"
                                                                },
                                                                {
                                                                    "name": "async",
                                                                    "type": "boolean"
                                                                },
                                                                {
                                                                    "name": "name",
                                                                    "type": "text"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        "type": "array"
                                                    },
                                                    {
                                                        "name": "messages",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "content",
                                                                    "type": "text"
                                                                },
                                                                {
                                                                    "name": "role",
                                                                    "type": "text"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        "type": "array"
                                                    },
                                                    {
                                                        "name": "model",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "provider",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "temperature",
                                                        "type": "number"
                                                    }
                                                ],
                                                "type": "collection"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text"
                                            },
                                            {
                                                "name": "voice",
                                                "spec": [
                                                    {
                                                        "name": "similarityBoost",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "stability",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "provider",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "voiceId",
                                                        "type": "text"
                                                    }
                                                ],
                                                "type": "collection"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "assistantId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "cost",
                                        "type": "number"
                                    },
                                    {
                                        "name": "costBreakdown",
                                        "type": "text"
                                    },
                                    {
                                        "name": "createdAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "customer",
                                        "type": "text"
                                    },
                                    {
                                        "name": "customerId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "endedAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "endedReason",
                                        "type": "text"
                                    },
                                    {
                                        "name": "forwardedPhoneNumber",
                                        "type": "text"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "maxDurationSeconds",
                                        "type": "text"
                                    },
                                    {
                                        "name": "messages",
                                        "type": "text"
                                    },
                                    {
                                        "name": "metadata",
                                        "type": "text"
                                    },
                                    {
                                        "name": "orgId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "phoneCallProvider",
                                        "type": "text"
                                    },
                                    {
                                        "name": "phoneCallProviderBypassEnabled",
                                        "type": "text"
                                    },
                                    {
                                        "name": "phoneCallProviderDetails",
                                        "type": "text"
                                    },
                                    {
                                        "name": "phoneCallProviderId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "phoneCallTransport",
                                        "type": "text"
                                    },
                                    {
                                        "name": "phoneNumber",
                                        "type": "text"
                                    },
                                    {
                                        "name": "phoneNumberId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "recordingUrl",
                                        "type": "text"
                                    },
                                    {
                                        "name": "startedAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "stereoRecordingUrl",
                                        "type": "text"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text"
                                    },
                                    {
                                        "name": "transcript",
                                        "type": "text"
                                    },
                                    {
                                        "name": "twilioCallSid",
                                        "type": "text"
                                    },
                                    {
                                        "name": "twilioCallStatus",
                                        "type": "text"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "updatedAt",
                                        "type": "text"
                                    },
                                    {
                                        "name": "webCallSipUri",
                                        "type": "text"
                                    },
                                    {
                                        "name": "webCallUrl",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "functionCall",
                                "spec": [
                                    {
                                        "name": "parameters",
                                        "spec": [
                                            {
                                                "name": "date",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "type",
                                "type": "text"
                            }
                        ],
                        "type": "collection"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "start_date",
                        "value": "{{24.message.functionCall.parameters.date}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "start_date",
                        "type": "any",
                        "label": "start_date"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "google-calendar:searchEvents",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 1577423
            },
            "mapper": {
                "limit": "10",
                "timeMax": "{{addDays(11.start_date; 1)}}",
                "timeMin": "{{11.start_date}}",
                "calendar": "ec30a8cfeb3134e439840b6cad3c7f0b290ffe6b07b39b9125a741514ba3760f@group.calendar.google.com",
                "eventTypes": [
                    "default"
                ],
                "singleEvents": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "orderBy": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "calendar": {
                            "mode": "chose",
                            "label": "Jiten chavda"
                        },
                        "eventTypes": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (chavdajiten00@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "timeMin",
                        "time": true,
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "timeMax",
                        "time": true,
                        "type": "date",
                        "label": "End Date"
                    },
                    {
                        "name": "updatedMin",
                        "time": true,
                        "type": "date",
                        "label": "Updated from"
                    },
                    {
                        "name": "singleEvents",
                        "type": "boolean",
                        "label": "Single Events",
                        "required": true
                    },
                    {
                        "name": "q",
                        "type": "text",
                        "label": "Query"
                    },
                    {
                        "name": "eventTypes",
                        "type": "select",
                        "label": "Event Types",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "default",
                                "focusTime",
                                "outOfOffice",
                                "workingLocation"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order By",
                        "validate": {
                            "enum": [
                                "startTime",
                                "updated"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 34,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "chack_list",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{12.start}} {{12.end}}",
                                            "b": "0",
                                            "o": "array:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": [
                                    "{{12.start}}{{12.end}}"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 14,
                                "rowSeparator": "\n"
                            },
                            "mapper": {
                                "value": "Busy slot from {{formatDate(12.start; \"DD/MM/YYYY hh:mm A\")}} to {{formatDate(12.end; \"DD/MM/YYYY hh:mm A\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Iterator [14]"
                                        }
                                    },
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "New row"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 17,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 16
                            },
                            "mapper": {
                                "end": "{{12.end}}",
                                "text": "{{16.text}}",
                                "start": "{{12.start}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Tools - Text aggregator [16]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                },
                                "advanced": true
                            }
                        },
                        {
                            "id": 20,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "Full_Busy",
                                "scope": "roundtrip",
                                "value": "{{17.array}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "default": "roundtrip",
                                        "options": [
                                            {
                                                "label": "One cycle",
                                                "value": "roundtrip"
                                            },
                                            {
                                                "label": "One execution",
                                                "value": "execution"
                                            }
                                        ],
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Full_Busy",
                                        "type": "any",
                                        "label": "Full_Busy"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 23,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{{20.Full_Busy}}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "default": 200,
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "advanced": true,
                                        "editable": true,
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 33,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "chack_list",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{12.start}} {{12.end}}",
                                            "b": "0",
                                            "o": "array:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "body": "{{11.start_date}} is Available for booking",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 17,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "eu2.make.com"
    }
}